<div class="container h-100">
    <div class="row h-100">
        <div class="col align-self-center">
            <h1 class="text-center p-100">Reset Password</h1>
            <form [formGroup] = "forgotpasswordForm" (ngSubmit)="forgotpasswordForm.valid && resetpassword()" autocomplete="off">
                <label >Password</label>
                <app-text-input type='password' [formControl]='forgotpasswordForm.controls["password"]' [label]='"Password"'>
                </app-text-input>

                <label >Confirm Password</label>
                <app-text-input type='password' [formControl]='forgotpasswordForm.controls["confirmpassword"]' [label]='"Confirm Password"'>
                </app-text-input>
                <button [disabled]='!forgotpasswordForm.valid' type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>

