 <div class="p-3 text-white bg-dark h-100">
            <ul class="nav flex-column">
              <li>
                <a href="#" class="nav-link text-white" aria-current="page">
                  Home
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Orders
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Products
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  Customers
                </a>
              </li>
              <li>
                <a routerLink="/companies-jobs-shared" class="nav-link text-white">
                  Jobs Shared by Users
                </a>
              </li>
            </ul>
    </div>