<div class="container min-vh-100">
    <div class="row min-vh-100">
        <div class="col align-self-center">
            <h1 class="text-center pb-5">Forgot Password</h1>
            <form (ngSubmit)='email.valid && forgotPassword()' >          
                    <label ><i class="bi bi-envelope" style="font-size: 25px;"></i> Email address</label>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      <app-text-input [formControl]='email' [label]='"Email"' aria-describedby="emailHelp">
                      </app-text-input>           
                <button [disabled]='!email.valid' type="submit" class="btn btn-primary w-100 mb-1"><i class="bi bi-send"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
