<div class="container min-vh-100">
    <div class="row min-vh-100">
        <div class="col align-self-center">
            <h1 class="text-center pb-5 mt-5">Register</h1>
            <form [formGroup] = "registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
              
              <label ><i class="bi bi-person" style="font-size: 25px;"></i> Username</label>
                  <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'>
                  </app-text-input>

              <label ><i class="bi bi-envelope" style="font-size: 25px;"></i> Email address</label>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <app-text-input [formControl]='registerForm.controls["email"]' [label]='"Email"' aria-describedby="emailHelp">
                </app-text-input>

                <label ><i class="bi bi-file-lock" style="font-size: 25px;"></i> Password</label>
                  <app-text-input type='password' [formControl]='registerForm.controls["password"]' [label]='"Password"'>
                  </app-text-input>

                  <label ><i class="bi bi-file-lock" style="font-size: 25px;"></i> Confirm Password</label>
                  <app-text-input type='password' [formControl]='registerForm.controls["confirmpassword"]' [label]='"Confirm Password"'>
                  </app-text-input>

                  <label ><i class="bi bi-file-earmark-richtext" style="font-size: 25px;"></i> Company Name</label>
                  <app-text-input [formControl]='registerForm.controls["company"]' [label]='"Company Name"'>
                  </app-text-input>

                  <div class="form-check">
                    <input formControlName = "hrusercheck" type="checkbox" class="form-check-input">
                    <label class="form-check-label">Company Recruiter Check</label>
                        <small class="form-text text-muted">Check if you are a recruiter, if not, don't check the box !</small>
                  </div>
                <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary mb-1 mt-3 w-100"><i class="bi bi-send"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
