    <!-- Buttons and the Search Bar -->
    <div class="container mt-2 min-vh-100">
            <div class="row">
                <div class="col mb-2">
                                <div class="list-group list-group-horizontal align-items-baseline" >                                 
                                        <button (click)='getCompaniesLinks()'
                                                        class="btn btn-info mr-2">See all Jobs</button>
                                    
                                        <button (click)='postJobsPage()' *ngIf="accountService.currentUser$ | async"
                                                        [disabled]="!setPage"
                                                        class="btn btn-primary mr-2">Post a Job</button>
                                   
                                            <form class="w-100" (ngSubmit)="searchBar.valid && getSearchedJobs()" *ngIf="setPage">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button [disabled]="!searchBar.valid" type="submit" class="btn btn-primary">Search</button>
                                                    </div>
                                                    <input type="search" [formControl]="searchBar" class="form-control" placeholder="Search Job"
                                                    [class.is-invalid]='searchBar.errors && searchBar.touched'>
                                                        <div *ngIf="searchBar.hasError('minlength') || searchBar.hasError('maxlength')"
                                                            class="invalid-feedback">Please enter between 3-50 characters !</div>
                                                        <div *ngIf="searchBar.hasError('required')"  class="invalid-feedback">Please enter a value !</div>
                                                </div>
                                            </form>
                                </div>
                </div>
            </div>
            
            
                   <!--  Border Line -->
            <div style="border-radius: 0; border-style: solid; border-width: 1px;"></div>



            <div class="row min-vh-100">
                <div class="col">
                            <!-- List of Links -->
                    <div *ngIf="setPage">
                        <div class="mt-2 mb-4">
                            <h3 class="text-center">Jobs Shared by Users</h3>
                        </div>
                                <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                            <div class="col-3">
                                                                <p><strong>Link/Description</strong></p>
                                                            </div>
                                                            <div class="col-4">
                                                                <p><strong>Start Date/End Date</strong></p>
                                                            </div>
                                                            <div class="col-3">
                                                                <p><strong>Link Not Available</strong></p>
                                                            </div>
                                                            <div class="col-2">
                                                                <p><strong>Report Link</strong></p>
                                                            </div>
                                                    </div>
                                                </li>
                                                    <li class="list-group-item list-group-item-action" *ngFor="let item of getJobs">
                                                            <div class="row">
                                                                    <div class="col-3">
                                                                        <a href="{{item.url}}" class="text-dark"><p>{{item.nameURL}}</p></a>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <p>{{item.startDate | date: 'dd MMM yyyy'}} - {{item.endDate | date: 'dd MMM yyyy'}}</p>
                                                                    </div>
                                                                    <div class="col-3">
                                                                        <div *ngIf="accountService.currentUser$ | async; else elseBlock">
                                                                            <button type="button" [disabled]="item.linkNotAvailable" class="btn btn-warning" (click)='linkNotAvailable(item.idCompanyJobsLinks)'>Link Not Available</button>
                                                                        </div>
                                                                        <ng-template #elseBlock>--</ng-template>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div *ngIf="accountService.currentUser$ | async; else elseBlock">
                                                                            <button type="button" [disabled]="item.reportedLink" class="btn btn-danger" (click)='reportCompanyJobLink(item.idCompanyJobsLinks)'>Report</button>
                                                                        </div>
                                                                        <ng-template #elseBlock>--</ng-template>
                                                                    </div>
                                                            </div>
                                                            <p class="text-muted">{{item.shortDescription}}</p>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="d-flex justify-content-center" *ngIf="AllJobsOrSearchedJobs === true ? paginationForAllJobs : paginationForSearching">
                                                            <h3 class="text-center"><span class="badge badge-pill badge-info mr-2">{{AllJobsOrSearchedJobs === true ? pageParametersForAllJobs.pageNumber : pageParametersForSearchedJobs.pageNumber}}/{{AllJobsOrSearchedJobs === true ? paginationForAllJobs.totalPages : paginationForSearching.totalPages}}</span></h3>
                                                                
                                                            <pagination
                                                                [boundaryLinks]="showBoundaryLinks"
                                                                [totalItems]="AllJobsOrSearchedJobs === true ? paginationForAllJobs.totalItems : paginationForSearching.totalItems"
                                                                [itemsPerPage]="AllJobsOrSearchedJobs === true ? paginationForAllJobs.itemsPerPage : paginationForSearching.itemsPerPage"
                                                                [(ngModel)]="AllJobsOrSearchedJobs === true ? paginationForAllJobs.currentPage : paginationForSearching.currentPage"
                                                                (pageChanged)="pageChanged($event)"
                                                                [maxSize] = "10"
                                                                [rotate] = "true"
                                                                ></pagination>
                                                                <!-- [(ngModel)]="pagination.currentPage" -> Taking the current page and also updating the current page  -->
                                                                <!-- (pageChanged)="pageChanged($event)" -> When a particular button is pressed (page) than will call the method -->
                                                                <div class="ml-2"><button type="button" class="btn btn-info"
                                                                    (click)="showBoundaryLinks = !showBoundaryLinks">Show First/Last buttons</button></div>



                                                        </div>
                                                    </li>
                                </ul>
                    </div>
                        <!-- Access the Post Page of Company Links -->
                    <div *ngIf="!setPage">
                        <app-post-company-jobs (itemEvent)="receiveValueEventPostJob($event)"></app-post-company-jobs>
                        <!-- Naming inside of parantheses, should be the same with what is in the child component "Output itemEvent" -->
                    </div>
                </div>
            </div>
            
</div>

