    <!-- Buttons and the Search Bar -->
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-2 mr-2">
                                    <div class="list-group list-group-horizontal">
                                        <button (click)='getCompaniesLinks()'
                                            class="btn btn-info">See all Jobs</button>
                                        <button (click)='postJobsPage()' *ngIf="accountService.currentUser$ | async"
                                            class="btn btn-primary ml-2">Post a Job</button>
                                    </div>
                        </div>
                        <div class="col-9 ml-4">
                                    <form class="input-group ml-2" (ngSubmit)="searchBar.valid && getSearchedJobs()">
                                        <div class="input-group-prepend"><button [disabled]="!searchBar.valid" type="submit" class="btn btn-primary">Search</button></div>
                                        <input type="search" [formControl]="searchBar" class="form-control ml-2"
                                        [class.is-invalid]='searchBar.errors && searchBar.touched'>
                                        <div *ngIf="searchBar.hasError('minlength') || searchBar.hasError('maxlength')"  class="invalid-feedback">Please enter between 3-50 characters !</div>
                                        <div *ngIf="searchBar.hasError('required')"  class="invalid-feedback">Please enter a value !</div>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


       <!--  Border Line -->
        <div style="border-radius: 0; border-style: solid; border-width: 1px;"></div>



        <div class="row">
            <div class="col">
                        <!-- List of Links -->
                <div *ngIf="setPage">
                    <div class="mt-2 mb-4">
                        <h3 class="text-center">Jobs Shared by Users</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                    <div class="col-3">
                                        <p><strong>Link/Description</strong></p>
                                    </div>
                                    <div class="col-4">
                                        <p><strong>Start Date/End Date</strong></p>
                                    </div>
                                    <div class="col-4">
                                        <p><strong>Link Not Available</strong></p>
                                    </div>
                                    <p><strong>Report Link</strong></p>
                    
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-action" *ngFor="let item of getJobs">
                            <div class="row">
                                    <div class="col-3">
                                        <a href="{{item.url}}" class="text-dark"><p>{{item.nameURL}}</p></a>
                                    </div>
                                    <div class="col-4">
                                        <p>{{item.startDate | date: 'dd MMM yyyy'}} - {{item.endDate | date: 'dd MMM yyyy'}}</p>
                                    </div>
                                    <div class="col-4">
                                        <div *ngIf="accountService.currentUser$ | async; else elseBlock">
                                            <button type="button" [disabled]="item.linkNotAvailable" class="btn btn-warning" (click)='linkNotAvailable(item.idCompanyJobsLinks)'>Link Not Available</button>
                                        </div>
                                        <ng-template #elseBlock>--</ng-template>
                                    </div>
                                    <div *ngIf="accountService.currentUser$ | async; else elseBlock">
                                        <button type="button" [disabled]="item.reportedLink" class="btn btn-danger" (click)='reportCompanyJobLink(item.idCompanyJobsLinks)'>Report</button>
                                    </div>
                                        <ng-template #elseBlock>--</ng-template>
                            </div>
                            <p class="text-muted">{{item.shortDescription}}</p>
                        </li>
                    </ul>
                </div>
                    <!-- Access the Post Page of Company Links -->
                <div *ngIf="!setPage">
                    <app-post-company-jobs></app-post-company-jobs>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center" *ngIf="pagination">
                        <pagination 
                        [boundaryLinks]="showBoundaryLinks" 
                        [totalItems]="pagination.totalItems"
                        [itemsPerPage]="pagination.itemsPerPage"
                        [(ngModel)]="pagination.currentPage"
                        (pageChanged)="pageChanged($event)" 
                        ></pagination>
                        <!-- [(ngModel)]="pagination.currentPage" -> Taking the current page and also updating the current page  -->
                        <!-- (pageChanged)="pageChanged($event)" -> When a particular button is pressed (page) than will call the method -->
                        <div class="ml-4"><button type="button" class="btn btn-info" 
                            (click)="showBoundaryLinks = !showBoundaryLinks">Hide/show boundary links</button></div>
                </div>
            </div>
        </div>

</div>


