<div class="container min-vh-100">
    <div class="row min-vh-100">
        <div class="col align-self-center">
            <h1 class="text-center pb-5">Login</h1>
            <form [formGroup] = "loginForm" (ngSubmit)=" loginForm.valid && login()">
                <label ><i class="bi bi-envelope" style="font-size: 25px;"></i> Email address</label>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <app-text-input [formControl]='loginForm.controls["email"]' [label]='"Email"' aria-describedby="emailHelp">
                  </app-text-input>
                
                <label class="mt-3"><i class="bi bi-file-lock" style="font-size: 25px;"></i> Password</label>
                <app-text-input type="password" [formControl]='loginForm.controls["password"]' [label]='"Password"'>
                </app-text-input>

                <div class="form-group mb-1"><button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary w-100"><i class="bi bi-send"></i> Submit</button></div>
            </form>
        </div>
    </div>
</div>
