<div class="container min-vh-100">
    <div class="row min-vh-100">
        <div class="col align-self-center">
            <h1 class="text-center pb-5">Change Password</h1>
            <form [formGroup] = "changepasswordForm" (ngSubmit)="changepasswordForm.valid && changepassword()" autocomplete="off">
              
              <label><i class="bi bi-envelope" style="font-size: 25px;"></i> Email address</label>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <app-text-input [formControl]='changepasswordForm.controls["email"]' [label]='"Email"' aria-describedby="emailHelp">
                </app-text-input>

                <label><i class="bi bi-file-lock" style="font-size: 25px;"></i> Current Password</label>
                  <app-text-input type='password' [formControl]='changepasswordForm.controls["currentpassword"]' [label]='"Current Password"'>
                  </app-text-input>

                  <label><i class="bi bi-file-lock" style="font-size: 25px;"></i> New Password</label>
                  <app-text-input type='password' [formControl]='changepasswordForm.controls["newpassword"]' [label]='"New Password"'>
                  </app-text-input>

                  <label><i class="bi bi-file-lock" style="font-size: 25px;"></i> Confirm Password</label>
                  <app-text-input type='password' [formControl]='changepasswordForm.controls["confirmpassword"]' [label]='"Confirm Password"'>
                  </app-text-input>

                <button [disabled]='!changepasswordForm.valid' type="submit" class="btn btn-primary mb-1 w-100"><i class="bi bi-send"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
