<div class="container min-vh-100">
    <div class="row min-vh-100">
        <div class="col align-self-center">
            <h1 class="text-center p-100">Change Password</h1>
            <form [formGroup] = "changepasswordForm" (ngSubmit)="changepasswordForm.valid && changepassword()" autocomplete="off">
              
              <label >Email address</label>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <app-text-input [formControl]='changepasswordForm.controls["email"]' [label]='"Email"' aria-describedby="emailHelp">
                </app-text-input>

                <label >Current Password</label>
                  <app-text-input type='password' [formControl]='changepasswordForm.controls["currentpassword"]' [label]='"Current Password"'>
                  </app-text-input>

                  <label >New Password</label>
                  <app-text-input type='password' [formControl]='changepasswordForm.controls["newpassword"]' [label]='"New Password"'>
                  </app-text-input>

                  <label >Confirm Password</label>
                  <app-text-input type='password' [formControl]='changepasswordForm.controls["confirmpassword"]' [label]='"Confirm Password"'>
                  </app-text-input>

                <button [disabled]='!changepasswordForm.valid' type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>
